* {
  padding: 0;
  margin: 0;
}

:root {
  --orange: #fb6340;
  --green: #2dce89;
  --red: #f5365c;
  --grey: #8898aa;
  --secondary: #f7fafc;
  --primary: #5e72e4;
}

.contentTable {
  width: 100%;
  overflow-x: auto;
}

#contentTable #TableDataProgram {
  padding-top: 25px;
}

.contentTable table thead,
#contentTable #TableDataProgram thead {
  background: var(--secondary);
}

.contentTable table thead th,
#contentTable #TableDataProgram thead th {
  padding: 10px 20px;
  letter-spacing: 1px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

#contentTable #TableDataProgram thead th {
  padding: 15px 20px;
  text-align: center;
}

.contentTable table tbody td,
#contentTable #TableDataProgram tbody td {
  padding: 20px;
  color: var(--grey);
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  text-transform: normal;
}

#contentTable #TableDataProgram tbody td {
  padding: 15px 20px;
  text-align: center;
}

.dataTables_info {
  margin-left: 15px;
}

.sorting::before,
.sorting::after,
.sorting_asc::before,
.sorting_asc::after,
.sorting_desc::before,
.sorting_desc::after {
  content: "";
  font-size: 0px;
}

#TableDataProgram_filter label input {
  color: var(--gray);
}

#TableDataProgram_info {
  color: var(--gray);
  margin-top: 5px;
  font-size: 15px;
}

.btn-table {
  border: none;
  outline: none;
  font-size: 14px;
  padding: 10px;
  color: #fff;
  border-radius: 3px;
}

.btn-table:nth-child(1) {
  background: var(--blue);
}

.btn-table:nth-child(2) {
  background: var(--danger);
}

.dataTables_paginate a {
  padding-bottom: 25px;
  margin: 15px 10px;
}
